networks:
  monitoring:
    driver: bridge

services:
  uptime_kuma:
    image: elestio/uptime-kuma:2.0.0-beta.2
    container_name: uptime_kuma
    #ports:
    #  - "{{ ansible_default_ipv4.address }}:3005:3001"
    volumes:
      - ./uptime_kuma:/app/data
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - monitoring
    restart: unless-stopped

  alloy:
    image: grafana/alloy:v1.10.0
    container_name: alloy
    #ports:
    #  - "{{ ansible_default_ipv4.address }}:12345:12345"
    volumes:
      #- ./:/etc/alloy/config.alloy
      - /var/run/docker.sock:/var/run/docker.sock
    command: run --server.http.listen-addr=0.0.0.0:12345 --storage.path=/var/lib/alloy/data /etc/alloy/config.alloy
    restart: unless-stopped

  node_exporter:
    image: prom/node-exporter:v1.9.1
    container_name: node_exporter
    security_opt:
      - no-new-privileges
    #cap_add:
    #  - SYS_PTRACE  # Для отладки процессов
    #  - NET_RAW      # Для сетевых операций (если нужно)
    #  - SYS_ADMIN
    volumes:
      - '/proc:/host/proc:ro'
      - '/sys:/host/sys:ro'
      - '/:/rootfs:ro'  # Только для чтения для метрик, но не для записи
    ports:
      - {{ ansible_default_ipv4.address }}:9100:9100
    networks:
      - monitoring
    command:
      # Используем конфигурацию из документации node_exporter для сбора стандартных метрик
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      # Только стандартные опции сбора метрик
      - '--log.level=error'
    restart: unless-stopped

  cadvisor:
    image: ghcr.io/google/cadvisor:v0.53.0
    container_name: cadvisor
    restart: unless-stopped
    security_opt:
      - no-new-privileges
    command:
      - "--housekeeping_interval=30s"
      #- "--docker_only=true"
      - "--store_container_labels=false"
    volumes:
      - '/:/rootfs:ro'  # Критически для центрального мониторинга
      - '/var/run:/var/run:ro'
      - '/sys:/sys:ro'
    ports:
      - {{ ansible_default_ipv4.address }}:6010:8080
    networks:
      - monitoring
    environment:
      - CADVISOR_NO_CGROUPS=true  # Отключает небезопасные cgroup опции
    cap_add:
      - SYS_ADMIN  # Минимально необходимная привилегия