server {
    listen 80;
    server_name {{ domain }};  # Замените на ваше доменное имя или IP адрес

    location / {
        root /var/www/html;  # Путь к корневой директории вашего сайта
        index index.html index.htm;
    }
}