server {
    listen 443 ssl;
    server_name *.{{ domain }} {{ domain }};

    ssl_certificate {{ nginx_ssl_crt_path }}{{ domain }}.crt;
    ssl_certificate_key {{ nginx_ssl_key_path }}{{ domain }}.key;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers 'HIGH:!aNULL:!MD5';

    location / {
        proxy_pass http://localhost:3000; # Укажите ваш бекенд или путь
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

server {
    listen 80;
    server_name *.{{ domain }} {{ domain }};

    return 301 https://$host$request_uri; # Перенаправление с HTTP на HTTPS
}
